/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
/*footer {*/
    /*background-color: rgb(168, 164, 164) ;*/
    /*padding: 20px;*/
    /*margin: 10px 0 10px 0;*/
/*}*/

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

button:hover
{
    opacity: 0.8;
}

.bestCar
{
    text-align: center;
    color: red;
    margin-top: 20px;

}

.bestCar img
{
    width: 100%;
    height: auto;
}

.bestCar p
{
    margin-bottom: 20px;
}

.bestCar figcaption
{
    margin-top: 8px;
}



/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}





.search {
    background-image: url("../img/vintage-cars.jpg");
    min-height: 320px;
    background-position: 70% 76%;
    padding: 20px;
    display: block;
    margin: 10px 0 10px 0; /* 5% from the top, 15% from the bottom and centered */
    width: 100%; /* Could be more or less, depending on screen size */

}



/* unvisited link */
.link-dark:link {
    color: black;
}

/* visited link */
.link-dark:visited {
    color: black;
}

/* mouse over link */
.link-dark:hover {
    color: cornflowerblue;
    text-decoration: none;
}


/*search.php*/

.listing_box{
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgrey;

}

.border-left{
    border-left: 1px solid lightgrey;
    height:100% ; !important;
}

.card-body{


}


h1 {font-size:12px;}
h2{font-size:22px;font-weight:bold;}
h3{font-size:20px;font-weight:bold;}
h4{font-size:18px;font-weight:bold;}
h5{font-size:12px;}
h6{font-size:12px;}
p{font-size:14px;}
img {width:100%;}